* {
    color: #fff;
}

body {
    background-color: #404040;
}

input, select, textarea {
    background-color: #333333;
    border: 1px solid #1d1d1d;
}

button {
    border: 1px solid #1d1d1d;
}

/* Navbar */

.navbar {
    background-color: #2e2e2e;
}

.nav-dropdown-content {
    background-color: #2e2e2e;
}

.nav-dropdown-content a {
    border-top: 1px solid #1d1d1d;
}

.nav-dropdown-content a:hover {
    background-color: #333333;
}

/* Cards */

.card {
    border: 1px solid #1d1d1d;
    background-color: #404040;
}

.card-header {
    background-color: #333333;
    border-bottom: 1px solid #1d1d1d;
}

.card-body {
    background-color: #404040;
}

.card-footer {
    background-color: #333333;
    border-top: 1px solid #1d1d1d;
}

/* List group */

.list-group {
    background-color: #333333;
    border: 1px solid #1d1d1d;
}

.list-group-item:not(:last-child) {
    border-right: 1px solid #1d1d1d;
}

.list-group-item:hover {
    background-color: #242424;
}