/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input, select, textarea, button {
    margin: 10px;
    padding: 7.5px;
    border-radius: 5px;
}

button {
    background-color: #7e75ff;
}

/* Navbar */

.navbar {
    overflow: hidden;
}

.nav-user { 
    border-radius: 50%;
}

.nav-icon, .nav-user {
    width: 30px;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-item:not(.not-auth) {
    margin-right: 10vw;
    cursor: pointer;
}

.nav-item a {
    float: right;
}

.nav-dropdown{
    float: right;
    overflow: hidden;
}

.nav-dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}  

.nav-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border-radius: 0 0 10px 10px;
}

.nav-dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.nav-dropdown-content a:last-child {
    border-radius: 0 0 10px 10px;
}

/* Cards */

.card {
    position: relative;
    margin: auto;
    border-radius: 10px;
    width: 75vw;
    max-width: 1400px;
}

.card .dropdown-toggle {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
}

.card .user-img {
    vertical-align: middle;
    border-radius: 50%;
    width: 30px;
}

.card .card {
    width: 95%;
    margin: auto;
}

.card div:last-child:not(.card .card) {
    border-radius: 0 0 10px 10px;
}

.card input:not(input[type="checkbox"]), select, textarea {
    margin: 5px;
    display: inline-block;
}

.card a {
    text-decoration: none;
}

.card-header {
    border-radius: 10px 10px 0 0;
}

/* Cards Extra */

.forum-banner {
    background-size: cover;
    background-position: center;
    min-height: 20vh;
}

.card .info {
    margin: 10px;
}

.card .subtext {
    padding: 20px;
}

.dashboard-img {
    position: absolute;
    margin: 10px;
    top: 60px;
    right: 0;
    border-radius: 50%;
    max-height: 17.5vh;
    max-width: 17.5vw;
}

.post-picture, .preview {
    margin-left: 12.5px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 35vh;
}

.card-header *:not(img) {
    text-decoration: none;
    padding: 5px;
}

.card-body *:not(.card .card, small, img, .card-text, button) {
    padding: 5px;
}

.card-body .card-text {
    padding: 10px;
}

.card a:not(button a):hover {
    color: #7e75ff;
}

/* List group */

.list-group {
    border-radius: 10px;
    margin: 10px;
    float: right;
}

.list-group-item {
    padding: 10px;
    list-style-type: none;
    float: left;
    cursor: pointer;
}

.list-group-item:last-child {
    border-radius: 0 10px 10px 0;
}

.list-group-item:first-child {
    border-radius: 10px 0 0 10px;
}

/* Alerts */

.alert {
    position: relative;
    border: 1px solid;
    border-radius: 10px;
    width: 75vw;
    margin: auto;
    padding: 15px;
}

.alert-success {
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
}

.alert-danger {
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
}

.messages img {
    padding: 0px;
    width: 15px;
    float: right;
}

/* Buttons */

button {
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    filter: brightness(85%);
}


/* Colors */

.bg-red {
    background-color: #a82626;
}

.bg-green {
    background-color: #26964a;
}

.bg-blue {
    background-color: #2d5ac2;
}