{% extends "posts/posts_div.html"%}
{% block title %}{{ forum.name }}{% endblock %}
{% block header %}
<div class="card">
  <div class="card-header forum-banner" 
  style="background-image: url('{{ url_for('static', filename='images/upload_folder/forums/' + forum.picture)}}');">
  </div>
  <div class="card-body">
    <h1 class="card-title">{{ forum.name }}</h1>
    <p class="card-text">{{ forum.description }}</p>
  </div>
  <div class="card-footer">
    {% if user.id == forum.creator %}
    <button class="btn btn-primary btn-sm" id="join-button" onclick="joinForum('{{forum.id}}')">Joined</button>
    {% else %}
    <button class="btn btn-primary btn-sm" id="join-button" onclick="joinForum('{{forum.id}}')">Join</button>
    {% endif %}
    <small>
      {% if forum.members|length == 1 %}
      <span style="padding-left: 5px;"><span id="member-count">{{ forum.members|length }}</span> Member</span>
      {% else %}
      <span style="padding-left: 5px;"><span id="member-count">{{ forum.members|length }}</span> Members</span>
      {% endif %}
    </small>
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}