{% extends "base.html"%}
{% block title %}Home{% endblock %}

{% block content %}
{% block header %}<h2 align="center">Posts</h2>{% endblock %}
<br/>
<div id="posts">
  {% for post in posts %}
    {% if post.private != true or post.author == user.id or user.preference.private_account != true %}
      <div class="card">
        <div class="card-header">
          <div class="card-text">
              <h3>
                <a
                href="{{ url_for('views.post' ,url=post.url) }}">
                {{  post.title  }}
                </a>
                {% if post.private == true %}
                <img src="{{ url_for('static', filename='images/icons/lock.png') }}" width="15">
                {% endif %}
              </h3>
              <div class="post-info">
                  <img src="{{ url_for('static', filename='images/upload_folder/users/' + post.user.picture) }}" class="user-img">
                  <span>
                  <a href="{{ url_for('users.user', username=post.user.username)}}">{{  post.user.username  }}</a>
                  {% if post.forum_id != None %}
                  •
                  <a 
                  style="text-decoration: none;"          
                  href="{{ url_for('views.forum', url=post.forum.url) }}" 
                  >{{ post.forum.name }}</a>
                  {% endif %}
                   • <span class="date">{{  post.date_created|timeago  }}</span>
                  {% if post.edited == True %}
                  <small>• Edited</small>
                  {% endif %}
                </span>
              </div>
          </div>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button">
              <img src="{{ url_for('static', filename='images/icons/menu-dots-vertical.png') }}" width="15">
            </button>
          </div>
        </div>
        <div class="card-body">
            <div class="card-text">{{  post.text  }}</div>
            <br/>
            {% if post.picture != None %}
            <img src="{{ url_for('static', filename='images/upload_folder/posts/' + post.picture)}}" class="post-picture">
            <br/>
            {% endif %}
          <br/>
        </div>
        <div class="card-footer">
          <ul class="list-group">
            <li class="list-group-item">
              {% if post.comments|length > 0 %}
              <span id="commentButton" onclick="toggleComments({{post.id}})">
                <img src="{{ url_for('static', filename='images/icons/comment_b.png') }}" width="15"> {{ post.comments|length }}
              </span>
            {% else %}
              <img src="{{ url_for('static', filename='images/icons/comment.png') }}" width="15"> {{ post.comments|length }}
            {% endif %}
            </li>
            <li class="list-group-item">

              {% if user.id in post.likes|map(attribute="author")|list %}

              <img 
              src="{{ url_for('static', filename='images/icons/heart_b.png') }}"
              width="15"
              id="like-button-{{post.id}}"
              onclick="like({{post.id}})">

              {% else %}

              <img
              src="{{ url_for('static', filename='images/icons/heart.png') }}" 
              width="15"
              id="like-button-{{post.id}}"
              onclick="like({{post.id}})">

              {% endif %}

              <span id="likes-count-{{post.id}}">{{ post.likes|length }}</span>

            </li>
            <li class="list-group-item">
            {% if user.id in post.saves|map(attribute="author")|list %}
              <img 
              src="{{ url_for('static', filename='images/icons/bookmark_b.png') }}" 
              width="15"
              id="save-button-{{post.id}}"
              onclick="save({{post.id}})">
            {% else %}
              <img 
              src="{{ url_for('static', filename='images/icons/bookmark.png') }}" 
              width="15"
              id="save-button-{{post.id}}"
              onclick="save({{post.id}})">
            {% endif %}
            </li>
            <li class="list-group-item">
                  <img src="{{ url_for('static', filename='images/icons/paper-plane.png') }}" width="15">
            </li>
          </ul>
          <form method="POST" action="/create-comment/{{post.id}}">
          <input type="text" id="text" name="text" class="form-control" placeholder="Comment"/>
          <button type="submit" class="btn btn-primary">Comment</button>
          </form>
          <div class="comments" id="comments-{{post.id}}" style="display: none"><br/>
              <div id="comment-expanded-{{post.id}}">
                {% for comment in post.comments %}
                  <div class="card card-comments">
                    <div class="card-header">
                      <div>
                        <a
                        href="/user/{{comment.user.username}}">
                        <img src="{{ url_for('static', filename='images/upload_folder/users/' + comment.user.picture )}}" class="user-img">
                          {{ comment.user.username }}</a> • {{ comment.date_created|timeago }}
                        <small>
                          {% if comment.edited == True %}
                          • Edited
                          {% endif %}
                        </small>
                      </div>
                    </div>
                    <div class="card-body">
                      <div>{{ comment.text }}</div>
                    </div>
                  </div>
                  {% if comment != post.comments|last %}
                  <br/>
                  {% endif %}
                {% endfor %}
              </div>
            <br/>
          </div>
        </div>
      </div>
    {% endif %}
    <br/>
  {% endfor %}
</div>
<br/>
{% block footer %}
{% endblock %}
{% endblock %}