{% extends "base.html"%}
{% block title %}Setting{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2 align="center">Settings</h2>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                        Private Account
                    <label class="switch">
                        <input type="checkbox" id="privateAccount" onclick="privateAccount('{{user.username}}')">
                        <span class="slider round"></span>
                      </label>
                </div>
                  <div class="card-body" style="white-space: pre-line;">If this feature is enabled, your account will be private.
                        That means that only people that folllow you will be able to see you posts.
                        Other people will have to send a follow request first.
                  </div>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/settings.js') }}"
></script>

<script>
    getPreferences('{{user.username}}')
</script>
{% endblock %}