{% extends "posts/posts_div.html"%}
{% block title %}{{ username.username }}'s Profile{% endblock %}
{% block header %}
<div class="card">
    <div class="card-header">
        <div align="center">
            <h3>{{ username.username }}</h3>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/upload_folder/users/' + username.picture)}}" class="dashboard-img">
            <h4 class="user-info">
                <p id="followers-count-{{ username.username }}">
                    Followers:
                    {{ username.followers|length }}
                </p>      
                <p id="following-count-{{ username.username }}">
                    Following:
                    {{ username.following|length }}
                </p>      
                <p>
                    Posts:
                    {{ username.posts|length }}
                </p>
            </h4>
        </div>
    </div>
    <div class="card-body">
            <div class="info">
                <div class="row">
                <div class="col-8">
    
                    <h3>{{ username.first_name }} {{ username.last_name }}</h3><br/>

                    {{ username.description }}<br/><br/>
    
                </div>
    
                </div>
            </div>
        {% if user.id == username.id %}
        <a href="{{ url_for('users.dashboard', username=user.username) }}"><button type="submit" class="btn btn-sm btn-secondary">Edit Profile</button></a>
        {% else %}
        <a onclick="follow('{{username.username}}')">
            <button 
            type="submit" 
            class="btn btn-sm btn-primary" 
            id="follow-button-{{ username.username }}">
            {% if user.id in username.followers|map(attribute="follower_id")|list %}
            Following
            {% else %}
            Follow
            {% endif %}
        </button></a>
        {% endif %} 
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}