* {
    color: #fff;
}

:root { 
    --accent: #1b8b59;
    --border: #141414;
    --hover: #383838;
    --background: #121212;
    --primary: #212121;
    --secondary: #2c2b2c;
    --chat: #434343;
    --muted: #ffffff93;
    --text: #fff;
}

.icon {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}