input:not(input[type='checkbox'], .comment-input), textarea, select {
    min-width: 90%;
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
    color: var(--color);
    vertical-align: middle;
    background-color: var(--primary);
    border: 1px solid var(--border);
    border-radius: 6px;
    outline: none;
}

.comment-input {
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
    color: var(--color);
    vertical-align: middle;
    background-color: var(--primary);
    border: 1px solid var(--border);
    border-radius: 6px;
    outline: none;
}

@media (max-width:700px) {
    .comment-input {
        min-width: 95%;
    }
}

@media (min-width:800px) {
    .comment-input {
        min-width: 50%;
    }
}

@media (min-width:1000px) {
    .comment-input {
        min-width: 60%;
    }
}

@media (min-width:1340px) {
    .comment-input {
        min-width: 70%;
    }
}

@media (min-width:1600px) {
    .comment-input {
        min-width: 75%;
    }
}

@media (min-width:1920px) {
    .comment-input {
        min-width: 77.5%;
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--primary) inset !important;
    -webkit-text-fill-color:  var(--text)!important;
}